[Unit]
Description=Node HTTP API
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_api 22222
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
